<mat-card fxLayout="column">
  <mat-card-header fxLayoutAlign="center center" class="center-header">
    <mat-card-title class="mat-h1" aria-label="Superheroes"
      >Superheroes</mat-card-title
    >
  </mat-card-header>
  <mat-card-content>
    <div class="table-container">
      <mat-table [dataSource]="dataSource" multiTemplateDataRows>
        <!-- Column Definitions -->
        <ng-container matColumnDef="name">
          <mat-header-cell
            *matHeaderCellDef
            role="columnheader"
            aria-label="Name"
          >
            Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="alias">
          <mat-header-cell
            *matHeaderCellDef
            role="columnheader"
            aria-label="Alias"
          >
            Alias
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.alias }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="team">
          <mat-header-cell
            *matHeaderCellDef
            role="columnheader"
            aria-label="Team"
          >
            Team
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.team }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="universe">
          <mat-header-cell
            *matHeaderCellDef
            role="columnheader"
            aria-label="Universe"
          >
            Universe
          </mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.universe }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="powers">
          <mat-header-cell
            *matHeaderCellDef
            role="columnheader"
            aria-label="Powers"
          >
            Powers
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button
              (click)="onGetPowers(element.powers, element.id)"
              mat-icon-button
              aria-label="Get Powers"
            >
              <mat-icon>bolt</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <mat-cell mat-cell *matCellDef="let element" colspan="4" role="cell">
            <span
              *ngIf="superheroPowers.length > 0"
              aria-live="polite"
              aria-atomic="true"
            >
              ⚫ {{ superheroPowers.join(". ⚫ ") }}.
            </span>
          </mat-cell>
        </ng-container>

        <!-- Table Rows -->
        <mat-header-row
          *matHeaderRowDef="displayedColumns"
          role="rowgroup"
        ></mat-header-row>
        <mat-row
          mat-row
          *matRowDef="let element; columns: displayedColumns"
          role="row"
        ></mat-row>

        <mat-row
          mat-row
          *matRowDef="let element; columns: ['expandedDetail']"
          [class.collapsed-detail]="element.id !== superheroId"
          role="row"
        ></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>
