<mat-card fxLayout="column">
  <mat-card-header fxLayoutAlign="center center" class="center-header">
    <mat-card-title class="mat-h1">Superheroes</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="table-container">
      <mat-table [dataSource]="dataSource">
        <!-- Column Definitions -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="alias">
          <mat-header-cell *matHeaderCellDef> Alias </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.alias }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="team">
          <mat-header-cell *matHeaderCellDef> Team</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.team }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="universe">
          <mat-header-cell *matHeaderCellDef> Universe </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.universe }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="powers">
          <mat-header-cell *matHeaderCellDef> Powers </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button (click)="onGetPowers(element.powers)" mat-icon-button>
              <mat-icon>bolt</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <!-- Table Rows -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>
